
body{
  width: 80%;
  margin-left:10%;

  background-color: #BAD4CC;
  font-family: 'Indie Flower', cursive;
}

#search-bar{
  text-align:center;
  background-color:#AD403A;
  padding: 50px;
  margin-top:0;
}

#search{
    margin: 10px;
    width: 300px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#container div {
  border: 1px solid #221200;
  width: 25%;
  margin: 20px;
  text-align: center;
  background-color:#FFE8DF;
}

img {
  width: 50%;
}

a {
  text-decoration: none;
color: #001710;

}
